<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- payment card form -->
<div class="container">
    <div class="col-sm-12">
        <h1 class="text-center">CART</h1>
    </div>
    <ngcart-cart></ngcart-cart>
    <ngcart-checkout service="log" ng-click="custom=!custom">CHECKOUT</ngcart-checkout>
    <div class="row" ng-show="custom">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 53px;">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form name="checkoutForm" stripe-form="stripeCallback" ng-submit="onSubmit()">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input ng-model="number" class="form-control" name="number" payments-format="card" payments-validate="card" placeholder="Card Number" type="text"/>
                                        <br/>
                                        <span class="alert text-danger" ng-show="checkoutForm.number.$invalid">Invalid card number</span>
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">EXPIRATION</label>
                                    <div class="input-group">
                                        <input ng-model="expiry" class="form-control" name="expiry" payments-format="expiry" payments-validate="expiry" placeholder="Expiry" type="text"/>
                                        <span class="alert text-danger" ng-show="checkoutForm.expiry.$invalid">Invalid card number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CV CODE</label>
                                    <input ng-model="cvc" name="cvc" class="form-control" payments-format="cvc" payments-validate="cvc" placeholder="CVC" type="text"/>
                                    <span class="alert text-danger" ng-show="checkoutForm.cvc.$invalid">Invalid CVC.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Place Order</button>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-show="stripeError" type="'alert'" close="hideAlerts()">
                                <span class="alert text-danger">{{stripeError}}</span>
                            </div>
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                            <br />
                            <br />
                            <div ng-model="orderSuccess" ng-show="showorderSuccess" class="alert alert-success">{{orderSuccess}}</div>
                            <div ng-model="orderFailure" ng-show="showorderFailure" class="alert alert-danger">{{orderFailure}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
