<div class="container" data-ng-init="getOrderDetails()">
    <h1 class="bg-primary" style=" text-align: center;">ORDER DETAILS</h1>
    <br><br><br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Item Quantity</th>
                <th>Item Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderdetail in orderdetailList">
                <th>{{ $index + 1 }}</th>
                <th>{{ orderdetail.product_detail }}</th>
                <th>{{ orderdetail.quantity_ordered }}</th>
                <th>{{ orderdetail.price_each }}</th>
                <th>{{ orderdetail.price_each * orderdetail.quantity_ordered}}</th>
            </tr>
        </tbody>
    </table>
</div>
