<div>
	<div class="container" style="margin-top: 30px;" data-ng-init="init()">
		<div class="col-md-12">
			<p class="myaccount_user">
			Hello <strong>{{userSession.first_name}} {{userSession.last_name}}</strong> (not {{userSession.first_name}}? <a  ng-click="usersignout()">Sign out</a>). From your account dashboard you can view your recent orders, manage your shipping and billing addresses and <a ui-sref="profileview">edit your password and account details</a>.</p>
		</div>
		<!-- <div class="col-md-11">
			<h5>Orders</h5>
			    <table class="table table-striped custab">
			    <thead >
			        <tr>
			            <th>Order</th>
			            <th>Date</th>
			            <th>Status</th>
			            <th>Total</th>
			            <th class="text-center">Action</th>
			        </tr>
			    </thead>
			            <tr style="background-color:#fff">
			                <td>1</td>
			                <td>News</td>
			                <td>News Cate</td>
			                <td>$6</td>
			                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> View</a></td>
			            </tr>
			    </table>
		</div> -->
		<div class="col-md-12">
			<h5>My Addresses</h5>
			<p>The following addresses will be used on the checkout page by default.</p>
			<div class="col-md-6">
				<a ui-sref="editbillingaddress" class="right">Edit</a>
				<h5>Billing Address</h5>
				<div class="row">
					<div class="col-md-6">
						<p>{{bill_add_info.first_name}} {{bill_add_info.last_name}} </p>
						<p>{{bill_add_info.address}}</p>
						<p>{{bill_add_info.city}} {{bill_add_info.zip}}</p>
						<p>{{bill_add_info.state}},{{bill_add_info.country}}</p>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
			<div class="col-md-6" data-ng-init="getshippingaddress()">
				<a ui-sref="editshippingaddress({customer_id:usershippingdetails.customer_id})" class="right">Edit</a>
				<h5>Shipping Address</h5>
				<div class="row">
					<div class="col-md-6">
						<p>{{usershippingdetails.shipping_first_name}} {{usershippingdetails.shipping_last_name}}</p>
						<p>{{usershippingdetails.shipping_address}}</p>
						<p>{{usershippingdetails.shipping_city}} {{usershippingdetails.shipping_zip}}</p>
						<p>{{usershippingdetails.shipping_state}} , {{usershippingdetails.shipping_country}}</p>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		</div>
		<div class="col-md-11">
			<h5>Wishlists</h5>
			    <table class="table table-striped custab">
			    <thead >
			        <tr>
			            <th>List Name</th>
			            <th>Date</th>
			            <th>Privacy Settings</th>
			        </tr>
			    </thead>
			            <tr style="background-color:#fff">
			                <td>Wishlist</td>
			                <td>March 18, 2016</td>
			                <td>Private</td>
			            </tr>
			    </table>
		</div>

	</div>
</div>
