<div>
	<div class="container" style="margin-top:5%" data-ng-init="getshippingaddress()">
		<form role="form" data-ng-submit="addupdate_shippingaddress(usershippingdetails,shipping_addfrm.$valid)" name="shipping_addfrm" id="shipping_address_frm" style="padding-right: 27px;" novalidate >
				<label>Shipping Address</label>
				<div class="row" >
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="firstname">First Name</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter First Name" data-ng-model="usershippingdetails.shipping_first_name" name= "first_name" tabindex="2" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.first_name.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter First Name</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="companyname">Company Name</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter Company Name" name="company_name" data-ng-model="usershippingdetails.company_name" tabindex="4">
						</div>
						<div class="form-group">
							<label for="apartent">Apartment</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter Apartment information" name="apartment" data-ng-model="usershippingdetails.shipping_apartment" tabindex="6" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.apartment.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter Apartment Info</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter City Name" name="city" data-ng-model="usershippingdetails.shipping_city" tabindex="8" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.city.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter City Name</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="address">Country</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter Country Name" name="country" data-ng-model="usershippingdetails.shipping_country" tabindex="10" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.country.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter Country Name</div>
								</div>
							</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastname">Last Name</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter Last Name" name="last_name" data-ng-model="usershippingdetails.shipping_last_name" tabindex="3" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.last_name.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter Last Name</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="mb_number">Mobile Number</label>
							<input type="number" class="form-control billing_frm_input" placeholder="Enter Mobile Number" name="mb_number" data-ng-model="usershippingdetails.shipping_mobile_number" tabindex="5" ng-minlength="8" ng-maxlength="10" required>
							<span >
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.mb_number.$error" role="alert">
									<div data-ng-message="required" class="text-danger" > Enter Mobile Number </div>
									<div data-ng-message="maxlength" class="text-danger" data-ng-if="maxlength">Enter Mobile Number Upto 10 Digit</div>
									<div data-ng-message="minlength" class="text-danger" data-ng-if="minlength">Enter Mobile Number Min 8 Didit</div>
								</div>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.mb_number.$error" role="alert">
									<div data-ng-message="maxlength" class="text-danger">Enter Mobile Number Upto 10 Digit</div>
									<div data-ng-message="minlength" class="text-danger">Enter Mobile Number Min 8 Digit</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="address">Address</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter Address" name="address" data-ng-model="usershippingdetails.shipping_address" tabindex="7" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.address.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter Address Info</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="address">State</label>
							<input type="text" class="form-control billing_frm_input" placeholder="Enter State Name" name="state" data-ng-model="usershippingdetails.shipping_state" tabindex="9" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.state.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter State Name</div>
								</div>
							</span>
						</div>
						<div class="form-group">
							<label for="address">Zip</label>
							<input type="number" class="form-control billing_frm_input" placeholder="Enter Zip code" name="zip" data-ng-model="usershippingdetails.shipping_zip" tabindex="11" required>
							<span>
								<div data-ng-messages="shipping_addfrm.$submitted && shipping_addfrm.zip.$error" role="alert" class="error_msg">
									<div data-ng-message="required">Please Enter Zip Code</div>
								</div>
							</span>
						</div>
						
					</div>
				</div>
	            <button type="submit" class="btn btn-sm btn-default" tabindex="16" ng-show="stateParams.customer_id == '' ">submit</button>
	          	<button type="submit" class="btn btn-sm btn-default" tabindex="16" ng-show="stateParams.customer_id != ''">Update</button>
	            <div ng-model="ship_add_success" ng-show="showshipaddmsg" class="success_msg">{{ship_add_success}}</div>
	            <div ng-model="ship_add_upt_success" ng-show="showshipaddupdtmsg" class="success_msg">{{ship_add_upt_success}}</div>
	           
	          </form>
	</div>
</div>